
/*메인*/
#wrap {background-image: url("../images/m_bg.jpg"); height: 100%; background-position: top center; background-repeat: no-repeat; }

#header {height: 120px; line-height: 120px;  border-bottom:1px solid rgba(255, 255, 255, .2);}
#header .container, #header .container a{color:#fff;}
#header .container{position: relative;}
#header .container h1{float:left; line-height: 0; margin-top:35px;}
#header .container .gnb{float:right;}

#header .container .util{float: right; font-size: 14px;}
#header .container .util ul{float: left;}
#header .container .util li{display: inline-block;}
#header .container .util .util_bar{color:rgba(255, 255, 255, .4); padding:0 10px;}
#header .container .util_search{margin:0 30px 0 50px;}
#header .container .util_search a{padding:0 !important;}
#header .container .util_arrow{margin-left:10px;}
#header .container .util_login a{font-size: 14px; font-weight: normal;}
#sub-menu.util_2depth > li {width:100px;}


#banner {height: 260px;}
#banner .container{color:#fff; font-size: 20px; text-align:center;}
#banner .container h1{padding-top:35px;}
#banner .container p{margin-top:10px;}

#contents {height: 600px;}
#contents .container .m_golf, .container .m_soccer, .m_basketball{width:400px; float:left; position: relative; }
#contents .container .m_golf{background-image: url("../images/golf.jpg"); height: 100%; background-position: top center; background-repeat: no-repeat;}
#contents .container .m_soccer{background-image: url("../images/soccer.jpg"); height: 100%; background-position: top center; background-repeat: no-repeat;}
#contents .container .m_basketball{background-image: url("../images/basketball.jpg"); height: 100%; background-position: top center; background-repeat: no-repeat; }

#contents .container .m_golf:hover,
#contents .container .m_soccer:hover,
#contents .container .m_basketball:hover{
	-webkit-transform:scale(1.1); /*  크롬 */
    -moz-transform:scale(1.1); /* FireFox */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
    transition: transform .35s;
    -o-transition: transform .35s;
    -moz-transition: transform .35s;
    -webkit-transition: transform .35s;
   z-index: 1;
}

#contents .container .m_golf .m_golf_over,
#contents .container .m_soccer .m_soccer_over,
#contents .container .m_basketball .m_basketball_over{
	width:100%; position: absolute; left: 0px;  background-color:rgba(0, 53, 115, .7); display: none; color:#fff; 
	text-align: center; font-size:56px; font-weight: 100; font-style: italic; line-height: 600px;
}

#contents .container .m_golf .m_golf_over{background-color:rgba(82, 0, 0, .7); }
#contents .container .m_soccer .m_soccer_over{background-color:rgba(0, 115, 16, .7);}

#contents .container .m_golf:hover .m_golf_over,
#contents .container .m_soccer:hover .m_soccer_over,
#contents .container .m_basketball:hover .m_basketball_over{display: block;}




#footer {height: 155px; padding-top:40px; overflow: hidden; font-size: 14px;}
#footer .container{position: relative; display: table;}
#footer .container address{margin-top:40px;}
#footer .container .addr{margin-right:30px;}
#footer .container .logo{position: absolute; top:0; left:0;}
#footer .container .rlogo{position: absolute; top:0; right:0;}
#footer .container .copy{text-transform:uppercase;}



.container {width: 1200px; height: inherit; margin: 0 auto;}




/*서브*/


#wrap.mypage{background-image: url("../images/sub_mypage.jpg");}
#wrap.search{background-image: url("../images/search_bg.jpg");}
#wrap.golf{background-image: url("../images/sub_golf.jpg");}
#wrap.soccer{background-image: url("../images/sub_soccer.jpg");}
#wrap.basketball{background-image: url("../images/sub_basketball.jpg");}
#wrap.faq{background-image: url("../images/sub_faq.jpg");}
#wrap.inquiry{background-image: url("../images/sub_inquiry.jpg");}


#sub_banner {height: 260px;}
#sub_banner .container{color:#fff; font-size: 20px; text-align:center;}
#sub_banner .container h1{line-height: 260px;}
#sub_banner .container p{margin-top:10px;}

#sub_contents{width: 100%; display: inline-block; min-height: 400px;}
#sub_contents .location{width: 100%; margin:30px 0 50px 0; text-align: right;}
#sub_contents .location > li{display: inline-block; font-size: 15px; }
#sub_contents .location > li:not(:last-child)::after{
	content:"";
	display: inline-block;
	width: 6px;
	height: 6px;
	border-right: 1px solid #919191;
	border-top: 1px solid #919191;
	transform: rotate(45deg);
	vertical-align: middle;
	margin: -4px 17px 0 17px;
}

#sub_contents .location .home img{position: relative; top:-2px; }
#sub_contents h2{font-size: 42px; font-weight: 500; margin-bottom: 50px;}

#footer.sub_footer{background-color: #f1f2f7; margin-top:100px;}

#sub_contents .lnb{float: left; width: 240px;}
#sub_contents .right_cont{float: right; width: 910px;}

.lnb .lnb_title{line-height: 70px; background: #2046b3; color:#fff; font-size: 26px; padding-left:20px;}
.lnb li{background: #f1f2f7; border:1px solid #e9e9e9; border-top:0; padding-left: 20px; position: relative;}
.lnb li a{width:100%; line-height: 49px; color: #666; font-weight: 500; display: inline-block;}
.lnb li.on{background: #fff;}
.lnb li.on a{color:#000;}
.lnb li.on::before {
	content:''; 
	display:block; 
	position:absolute; 
	right:-1px; 
	top:0; 
	width:4px; 
	height:100%; 
	background:#2046b3; 
	z-index:0;
}
.right_cont .top_box{background-image: url("../images/data_top_bg.jpg"); height: 136px; background-position: top center; background-repeat: no-repeat; position: relative;}

/*서브 > 데이터*/


.top_box.data{padding: 40px 0 0 150px; color:#666;}
.top_box.data h4{font-size: 22px; color:#000; margin-bottom: 5px;}
.top_box.data button{
	width: 160px; 
	background:#2046b3; 
	line-height: 45px; 
	color:#fff; 
	position: absolute; 
	top:50%; 
	right: 30px; 
	transform:translate(0%, -50%);
	border-radius:100px;
}

.top_box.data span{width:100%; display: inline-block; text-align: left; padding-left:25px;}
.top_box.data span::after {
	content:''; 
	display: inline-block; 
	height: 11px; 
	width: 7px;
	background-image: url("../images/btn_arrow.png");
	background-repeat: no-repeat;	
	position: absolute;
	right:20px;
	top:17px;
}

.data_list_wrap{width:100%;}
.data_list_wrap h2{margin:35px 0 25px 0 !important;}
.data_list{display: inline-block; clear: both;}
.data_list ul{display: inline-block; margin-bottom:25px;}
.data_list ul:last-child{margin-bottom: 15px;}
.data_list li:last-child {margin-right:0;}

.data_list .data_thumb{
	width: 212px; 
	float: left; 
	margin-right: 20px;
	position: relative;
	cursor:pointer;
}


.data_thumb a{position: relative; display: block; overflow: hidden;}
.data_thumb.pop_video a::before{
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, .4);
}

.data_thumb a.btn_play::after{
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../images/player.png) no-repeat 50% 50%;
}


 .data_list .data_thumb .thumb_txt{font-size: 18px; font-weight: 500; margin-top:10px;}


/*서브 > 검색*/

.search_wrap > *{display: inline-block; position: relative;}
.search_wrap{}
.search_select{width:25%;}
.search_keyword{width: 73%; float: right;}
.search_keyword .search_btn{
	min-width:0;
	width: 45px;
	height: 44px;
	background: url('../images/search_btn.png') no-repeat center center;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	top:50%; 
	right: 0;
	transform:translate(-50%, -50%)
}

.search_select select, .search_keyword input{
	height:84px; 
	border:2px solid #000;
	font-size: 30px; 
	color: #222;
	font-weight: 600;
}

.search_select select{background: url(../images/search_arrow.png) 94% center no-repeat;}

.search_keyword input::placeholder {font-size: 30px; color:#222; opacity: 1;}
.search_keyword input::-webkit-input-placeholder {font-size: 30px; color:#222;}
.search_keyword input:-ms-input-placeholder {font-size: 30px; color:#222;} 
.search_keyword input:-mos-input-placeholder {font-size: 30px; color:#222;}

.result_wrap{margin-top:70px;}
.result_total{font-size: 25px; font-weight: 500;}
.result_box{margin-top: 30px; border-top: 2px solid #000; }
.result_twrap{ padding:22px 0 25px 0; border-bottom: 1px solid #e9e9e9;}
/*.result_box .result_twrap:last-child{border-bottom:0;}*/
.result_twrap .con{color:#2046b3; font-weight: 500;}
.result_twrap .tit{font-size: 18px; font-weight: 500; margin:5px 0;}
.result_twrap .txt{color: #666; font-size: 15px;}
.no_result{background:url(../images/no_search.png) 50% 70px  no-repeat;}
.no_result p{padding: 180px 0 80px 0; text-align: center;}





/*비디오, 이미지*/
.video-popup.reveal, .img-popup.reveal{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	z-index:9
}

.video-popup .video-wrapper, .img-popup .img-wrapper {
	position: relative;
	width: 60%;
	height: 60%;
	max-width:815px;
	/*width: 800px;
	height: 450px;*/
	/*padding-bottom: 34%;*/
	z-index: 10
}


.video-popup .video-wrapper video{
	position: absolute;
	width: 100%;
	/*height: 100%;*/
}

.img-popup .img-wrapper img {
	position: absolute;
	width: 100%;

	/*height: 100%;*/
	top:50%; left:50%; transform:translate(-50%, -50%)
}

.video-popup.reveal .video-popup-closer, .img-popup.reveal .img-popup-closer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 9
} 



.pop_img img{width: 212px;}

/*메뉴*/

#header nav {display: flex; justify-content: center; position: absolute; right: 230px;}
ul, li {margin: 0; padding: 0; list-style: none;}
#main-menu > li {z-index: 1; float: left; position: relative; }
#main-menu > li > a {
	font-size: 21px; 
	font-weight: 500;
	color: rgba(255,255,255,0.85);
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.05em;
	display: block;
	padding: 0px 36px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#sub-menu {
	position: absolute; 
	left: 50%;
    top: 120px;
    transform: translate(-50%, 0);
	background: rgba(255,255,255,1); 
	opacity: 0; 
	visibility: hidden; 
	transition: all 0.15s ease-in;
}
#sub-menu > li {
	/*padding: 0px 28px;*/
	width: 140px;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	line-height: 40px;
	display: block !important;
}
#sub-menu > li >  a {color: rgba(0,0,0,1) !important; font-size: 16px; text-decoration: none; display: block;}
#main-menu > li:hover #sub-menu {opacity: 1; visibility: visible;}
#sub-menu > li >  a:hover {text-decoration: underline;}



/*회원*/
#member_wrap{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)}
#member_wrap .container h1{font-size: 0; text-align: center; margin:70px 0 50px 0;}
#member_wrap .container .member_form_wrap{width:480px; position:absolute; 
	top:50%; 
	left:50%; 
	transform:translate(-50%, -50%)}
#member_wrap .container .member_form_wrap input{margin-bottom:8px;}
#member_wrap .container .member_form_wrap h2{margin-bottom: 60px;}

.findpwd_wrap{
	background-color:#fff; 
	height:600px; 
	color:#000; 
	text-align: center; 
	/*padding-top:50px;*/
	position: relative;
	top:-1px;
}




.member_bg{
	background: url(../images/member_bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mem_ftxt{color:rgba(255, 255, 255, .3);}


.tabcontent {
	display: none; 
	background-color:#fff; 
	height:530px; color:#000; 
	text-align: center; 
	/*padding-top:50px;*/
	position: relative;
	top:-1px;
}


.tab {list-style: none; margin: 0; padding: 0; overflow: hidden;}
.tab li {
	width:400px; 
	float: left; 
	background-color: #8a90a0; 
	border-right:1px solid #969baa;
	text-align: center;
	height: 60px;
	margin-top:10px;
}
.tab li:last-child{border-right:0;}
.tab li a {
	width:100%;
	display: inline-block; 
	color: #bec1c9;
	text-decoration: none;
	line-height: 60px;
	/*transition:0.3s;*/
	font-size: 18px;
	font-weight: bold;
}
.tab li.current{background-color:#fff; color: #000; height: 70px; margin:0;}
.tab li.current a{ color: #000; font-size: 20px; line-height: 70px;}
.tabcontent {
	display: none; 
	background-color:#fff; 
	height:530px; color:#000; 
	text-align: center; 
	/*padding-top:50px;*/
	position: relative;
	top:-1px;
}
.tabcontent.current {display: block;}


/*메일*/

#mail_wrap{width:800px; margin:0 auto; border:1px solid #ddd; font-size:15px; border-top:4px solid #000;}
#mail_wrap h1{font-size:32px; }

#mail_header{height:232px; background-image: url("../images/mail_topbg.jpg"); background-position: top center; background-repeat: no-repeat; border-bottom:1px solid #ddd; padding:60px 0 0 35px;}
#mail_header img{margin-bottom:20px;}

#mail_contents{background-color:#f1f2f7; padding: 50px 45px; text-align: center; line-height: 1.6;}
#mail_contents .mail_numbox{width:100%; background-color: #fff; padding: 30px 0; margin-top:30px;}
#mail_contents .mail_numbox .mail_num{font-size: 25px; font-weight: bold; margin-bottom: 10px;}
#mail_footer{text-align: center; padding:30px 0;}



/*버튼*/
.btn_area{margin-top:30px;}
.btn_type{
	display: block; 
	width:100%; 
	font-size: 18px; 
	/*font-weight: 500;*/
	text-align: center; 
	cursor: pointer;
	line-height: 55px;
	border-radius: 100px;
}
.btn_w480{width: 480px; margin:0 auto;}
.btn_primary{color:#fff; background-color: #2046b3;}


/*체크박스*/
input[type="checkbox"]{position: absolute; width:1px; height: 1px; padding:0; margin:-1px; overflow: hidden; clip: rect(0,0,0,0); border: 0;}
input[type="checkbox"] + label{width: 100%; display: inline-block; position: relative; cursor: pointer; font-size: 15px; margin-top:10px; text-align: left;}



input[type="checkbox"] + label::before{
	content:""; 
	display: inline-block; 
	padding-left:20px; 
	height:20px; 
	background-image: url("../images/check_btn.svg");
	background-size:20px;
	vertical-align: middle;
	margin-right: 8px;
	position: relative;
	top:-1px;
}

input[type="checkbox"]:checked + label::before{
	content:""; 
	display: inline-block; 
	padding-left:20px; 
	height:20px; 
	background-image: url("../images/check_btn_checked.svg");
	background-size:20px;
	vertical-align: middle;
}


/*게시판*/
.tb_write{border-top:2px solid #252525; }
.tb_write th, .tb_write td{
	overflow: hidden; 
	text-overflow:ellipsis;
	height: 59px;
	border-bottom:1px solid #e9e9e9;
	padding-left: 20px;
}
.tb_write th{text-align: left; border-right:1px solid #e9e9e9; font-weight: 500;}
.tb_write td input{width: 400px; height:40px;}
.tb_write td select{width: 170px; height:40px;}


.pagination {clear:both;overflow:hidden;height:38px;margin:0 auto;padding:30px 0;font-size:0;text-align:center; box-sizing: revert;}
.pagination>button {display:inline-block;overflow:hidden;width:24px;height:35px;box-sizing:border-box;font-family:'Roboto';font-size:16px;font-weight:400;line-height:35px;vertical-align:top; background-color: #fff;}
.pagination>button>span {display:block;width:100%;height:100%;background-repeat:no-repeat;background-position:50% 50%;text-indent:-999px;}
.pagination>button.btn_first,
.pagination>button.btn_prev {margin-right:7px;}
.pagination>button.btn_next,
.pagination>button.btn_end {margin-left:7px;}
.pagination>button.btn_first>span {background-image:url(../images/pagingFirst_gray.png);}
.pagination>button.btn_prev>span {background-image:url(../images/pagingPrev_black.png);}
.pagination>button.btn_next>span {background-image:url(../images/pagingNext_black.png);}
.pagination>button.btn_end>span {background-image:url(../images/pagingEnd_gray.png);}
.pagination .paging {display:inline-block;overflow:hidden;height:35px;padding:0;font-size:0;text-align:center;}
.pagination .paging>li {display:inline-block;padding:0 7px;}
.pagination .paging>li>button {display:inline-block;overflow:hidden;width:24px;height:35px;padding-bottom:2px;color:#333;font-family:'Roboto';line-height:35px;text-align:center;letter-spacing:-1px; background-color: #fff;}
.pagination .paging>li>button:hover,
.pagination .paging>li>button.on {padding-bottom:0;border-bottom:2px solid #05548f;color:#05548f;}






/*공통*/
.warning{font-size: 15px; text-align: left; margin-top:10px;}
.warning::before{
	content:""; 
	display: inline-block; 
	width:13px;
	height:13px; 
	background-image: url("../images/mark.png");
	background-size:13px;
	vertical-align: middle;
	margin-right:8px;
}











.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;

  z-index: 10;
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}