@charset "utf-8";
@import url('./common.css');

html {font-size: 16px;}
body {font-family: 'Noto Sans KR', sans-serif; font-size: 1rem;background: #1f1f24; color: #fff}
#wrap {position: relative;}
#content {margin: 0 auto;}
.container {}
.slick-slider, .slick-slider * {outline: 0;}
.slick-slide img {width: 100%;}
.slick-slider .slick-dots {bottom: 5%; display: block !important; font-size: 0}
.slick-slider .slick-dots li {display: inline-block !important; width: auto !important;float: none !important;height: auto;margin: 0 3px !important;padding: 0 !important;}
.slick-slider .slick-dots li button {background: #e5e5e5;border-radius: 50%;width: .5rem;height: .5rem;margin: 0;}
.slick-slider .slick-dots li button:before {display: none}
.slick-slider .slick-dots li.slick-active button {background: #1f4bff}

/* body color */
.body-login {background: #0e0e14}
.body-member {background: #0e0e14}

/* HEADER */
header {background: #0e0e14;height: 4rem;position: fixed;left: 0;top: 0;width: 100%;z-index: 3;}
header.fixed {background: #0e0e14}
header .container-fluid {padding: 0 40px;height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
header h1 {font-size: 0;position: relative;z-index: 1001}
header h1 img {max-width:72%;height: auto;}
header nav {-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;text-align: right;}
header nav ul {font-size: 1.125rem}
header nav>ul>li {display: inline-block;vertical-align: top;position: relative;line-height: 5rem;text-align: center;margin-left: 3.125rem;}
header nav ul ul {display: none;position: absolute;left: 0;right: 0;top: 4.5rem;background: #0e0e14;line-height: 2.25rem;padding: .75rem}
header nav ul li:hover ul {display: block}
header nav li span {display: none}
header nav li:nth-child(3) {font-size: 1rem}
header nav li i {font-size: .812rem;margin-left: 5px;}
#toggle-open {display: none}
#toggle-close {display: none}

/* FOOTER */
footer {background: #0e0e14;font-size: .875rem;color: #999;padding: 5rem 0;line-height: 1.7}
footer h1 {font-size: 0}
footer nav {margin: 20px 0}
footer span.logo {float: right;}
footer li {display: inline-block;line-height: 1;}
footer li+li {padding-left: 10px;margin-left: 10px;border-left: 1px solid #999}
footer .scroll-top {position:fixed;bottom: -4rem; right: 1rem; background:#222; width: 3.583rem; height: 3.583rem; color:#fff; text-align:center; cursor:pointer; border-radius:100%; opacity:0; -webkit-transition:all 0.3s; transition:all 0.3s;z-index: 3}
footer .scroll-top.is-showing {bottom: 5rem; opacity:0.9;}
footer .scroll-top i {font-size: 1rem; line-height: 3.583rem; color: #fff;}

/* INDEX */
.body-index header {background: transparent}
.body-index header.fixed {background: #0e0e14}
.main-visual {background: #000545 url(../img/main-top-img.png) no-repeat 50%;padding: 12.5rem 0 8.75rem;margin-top: -5rem;min-height: 640px;font-size: 0;}
.main-visual strong {font-size: 3rem;display: block}
.main-visual p {font-size: 1.125rem;margin: 1.5rem 0}
.main-visual a {display: inline-block;font-size: 1rem; padding: .5rem 1.75rem;margin: 5px 5px 5px 0;;border: 1px solid rgba(255, 255, 255, 0.5);border-radius: 2rem;}
.main-info-text {padding: 5rem 0}
.main-info-text strong {display: block;font-size: 2rem;font-weight: normal;line-height: 1.6}
.main-info-text dl {margin: 2.5rem 0 0}
.main-info-text dt {font-size: 1.5rem;font-weight: normal;line-height: 3.125rem;margin-bottom: 1rem;}
.main-info-text dt img {margin-right: 1rem;}
.main-info-text dd {color: #999;line-height: 1.6}
.faq {padding: 5rem 0;margin-top: -5rem;}
.faq .title-area {position: relative;margin-bottom: 2rem;}
.faq .title-area h4 {display: inline-block;margin: 0;margin-right: 1em;}
.faq .title-area .btn {display: inline-block;font-size: .875rem;height: 2rem;padding-top: 0;padding-bottom: 0;vertical-align: top;}
.faq .title-area .search {position: absolute;width: 15rem;right: 0;bottom: 0;}
.faq .title-area .search .btn {position: absolute;right: 0;bottom: 0;height: 2.5rem}
.faq .title-area .form-control {background: none;border: 0;border-bottom: 1px solid rgba(255, 255, 255, 0.5);padding-left: 0;padding-right: 2rem;}

.faq-list {background: #3a3a3f}
.faq-list dt {font-weight: 400;border-top: 1px solid #1f1f24;padding: 1.5rem;position: relative;padding-right: 2rem;}
.faq-list dt:after {content: "\f282"; display: inline-block;font-family: bootstrap-icons !important;font-style: normal;font-weight: normal !important;font-variant: normal;text-transform: none;line-height: 1;vertical-align: -.125em; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; position: absolute;right: 1.5rem;top: 50%;-webkit-transform: translate(0, -50%);transform: translate(0, -50%)}
.faq-list dd {display: none;padding: 1.5rem;margin-top: -1.5rem;}
.faq-list .btn {display: inline-block;font-size: .875rem;height: 2rem;padding-top: 0;padding-bottom: 0;vertical-align: top;position: absolute;right: 4rem;top: 1.25rem}
.faq-list .active+dd {display: block;}
.faq-list .active:after {content: "\f286"}

/* SUB */
.sub-top {background: #fff; text-align: center;border-bottom: 1px solid #e5e5e5;z-index: 99;position: fixed;left: 0;right: 0;top: 0;-webkit-transition: all 0.3s;transition: all 0.3s;}
.sub-top h1 {font-size: 1.318rem; height: 4.166rem;padding: 1rem 0;line-height: 1.8; font-weight: bold}
.sub-top .container {position: relative; height: 100%;}
.sub-content {padding: 5rem 0;}
.sub-content hr {height: 1px;background: #3a3a3f;border: 0;margin: 1rem auto;}

h3+.sub-category {float: right;margin-top: -9rem;font-size: 0;}
h3+.sub-category li {display: inline-block;border: 1px solid rgba(255, 255, 255, 0.5);border-radius: 2rem;padding: .5em;line-height: 1.2;font-size: 1rem;}
h3+.sub-category li+li {margin-left: 10px;}
h3+.sub-category li.active {background: #1f4bff;border-color: transparent;}

.sub-content h2 {font-size: 1.5rem;margin-top: 1.875rem;margin-bottom: 1.875rem;position: relative;font-weight: normal; text-align: center}
.sub-content h2 a {font-size: 1rem; color: #898989; font-weight: normal;position: absolute;right: 0;top: .25em}
.sub-content h3 {font-size: 3rem;font-weight: normal;padding-bottom: 1em;margin-bottom: 1em;border-bottom: 1px solid #3a3a3f;}
.sub-content h4 {font-size: 2rem;font-weight: normal;margin-bottom: 1em;margin-top: 1.5em;}
.sub-content h5 {font-size: 1.5rem;font-weight: normal;margin-bottom: .5em;margin-top: .5em;}

.data .img {margin: 3rem auto}
.data .img img {display: block}
.data .img.row {margin-left: -10px;margin-right: -10px;margin-top: 10px;margin-bottom: 10px;}
.data .img.row>div {padding: 10px}
.data p {color: #dbdbdb}
.data p a {float: right;}
.data p a i {font-size: 80%}
.data ul {margin-bottom: 2rem;}
.data .service-model {background: #3a3a3f;}
.data .service-model .row {margin: 0;}
.data .service-model .row>div {padding: 0;}
.data .service-model .row .text {padding: 2rem 1.5rem;}
.data .service-model .row .text p {margin-bottom: 2em;}
.data .service-model .row .text a {line-height: 1}
.qna {position: relative}
.qna .btns {position: absolute;right: 0;top: 0;white-space: nowrap}
.qna .btns .btn {font-size: .875rem;height: 2rem;padding-top: 0;padding-bottom: 0;}
.qna .btns .btn+.btn {margin-left: 5px;} /*{font-size: .875rem;height: 2rem;padding-top: 0;padding-bottom: 0;margin-right: 5px;}*/
.qna .btns .form-control {font-size: .875rem;height: 2rem;display: inline-block;vertical-align: top;min-width: inherit;width: auto;margin-left: 5px;}

.board-content {background: #f5f5f5;padding: 1rem;max-height: 12rem;overflow-y: auto;}

ul.list li {border-bottom: 1px solid #3a3a3f;padding: 1.5rem 0;padding-right: 6rem;position: relative; cursor: pointer}
ul.list strong {display: block;font-weight: normal;margin-bottom: .5em;}

ul.list li div.security strong {color: #999}
ul.list li div.security strong:after {content: "";display: inline-block;vertical-align: middle;;margin-left: 10px;background: url(../img/icon-security.png) no-repeat 50% / .937rem; width: .937rem;height: 1rem}
ul.list span.state {color: #fff;}
ul.list span {line-height: 1;display: inline-block; color: #999; font-size: .875rem;}
ul.list span+span {margin-left: 5px;padding-left: 5px;border-left: 1px solid #3a3a3f;}
ul.list .btns {position: absolute;right: 0;top: 0;bottom: 0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
ul.list li.no-list {text-align: center;padding: 3rem 0;}

/* MEMBER */
.login .form {max-width: 360px;margin: 0 auto;margin-top: 5%;}
.login .form .save-id {font-size: .875rem;color: #999}
.login .form .save-id a {float: right}
.sns-login a {background: #fff;display: block;padding: 1rem 1.75rem;overflow: hidden;border-radius: .25rem;border: 1px solid #ddd;text-align: center;line-height: 1.409rem;}
.sns-login a+a {margin-top: .5rem;}
.sns-login img {max-height: 1.409rem;margin-right: 5px;vertical-align: top;}
.join-btn .btn  {max-width: 640px;margin: 0 auto}
.login .form.idpw .btn-box {margin-top: 2rem;}
.login .form.idpw .form-control.result {height: auto;}
.result-copy {font-size: 1rem;text-align: center;}
.result-copy img {display: block;margin: 0 auto;max-width: 20vw;margin-bottom: 1rem;}
.result-copy b {font-size: 1.041rem;color: #5868d9}
.result-copy em {font-style: normal;color: #222;display: block;font-weight: 400;}
.result-copy img[src*=join] {max-width: inherit;max-height: 7.166rem;}
.result-copy small {display: block;font-size: .833rem;}
.result-copy .btn {border-radius: 1rem;font-size: .833rem;}
.result-copy .baby {width: 10.833rem;height: 10.833rem;margin: 0 auto 1rem;border-radius: 50%;border: 1px solid #ddd;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;overflow: hidden;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;;}
.result-copy .baby img {min-height: 100%;max-width: inherit;}

.member .form {max-width: 360px;margin: 0 auto;margin-top: 5%;}
.form {max-width: 640px;margin: 0 auto}
.form .help-block {color: #999;font-size: .875rem}
.form h1 {text-align: center;margin: 0 !important;margin-bottom: 2rem!important;}
.form h2 {text-align: center;margin: 1.5em 0;font-size: 1.5rem;font-weight: normal}
.form .form-row {margin: 0;min-height: 3rem;line-height: 3rem;}
.form .form-row:first-child {border-top: 0;}
.form .form-row:last-child .form-control {margin-bottom: 0;}
.form .form-row label {margin: 0;color: #999;}
.form .form-row>.col-12+.col-12 {margin-top: .5rem;}
.form .form-control {margin-bottom: 10px;}
.form .form-control:not(textarea) {border: 0;padding-top: 0;padding-bottom: 0;}
.form textarea {margin-top: .5rem;}
.form hr {border-top: 1px solid #24242a;}

@media (max-width: 768px) {
    html {font-size: 13px;}
    body {min-width: inherit;overflow-x: hidden}
    
    header .container-fluid {padding: 0 15px}
    header.fixed {background: rgba(0, 0, 0, 0.8)}
    header nav {display: none;background: #0e0e14;position: fixed;left: 0;right: 0;top: 0;bottom: 0;padding: 1rem;padding-top: 5rem;text-align: left}
    header nav.active {display: block;}
    header nav.active + #toggle-open {display: none}
    header nav>ul>li {display: block;margin: 0;text-align: left; line-height: normal;}
    header nav>ul>li+li {display: block;margin: 0;text-align: left; line-height: normal;border-top: 1px solid #24242a}
    header nav>ul>li>a {padding: 1rem 0;display: block;}
    header nav ul ul {display: block !important;position: static;border-top: 1px solid #24242a;padding: 1rem 0}
    header nav ul ul li {display: inline-block;width: 48%}
    header nav>ul>li:nth-child(3) span {display: inline-block;padding: 1rem 0;font-size: 1.125rem;margin-right: 1em;}
    header nav>ul>li:nth-child(3)>a {display: inline-block;color: #999;}
    header nav>ul>li:nth-child(3)>a i {display: none}
    header nav>ul>li:nth-child(3) li {display: block;}
    header nav>ul>li:nth-child(3) li:nth-child(1) {display: none}
    #toggle-close {display: block;position: absolute;font-size: 2rem;height: 4rem;position: absolute;right: 0;top: 0;color: #fff;line-height: 1}
    #toggle-open {display: block;position: absolute;right: 0;top: 0;height: 4rem;color: #fff;font-size: 2rem;line-height: 1;}
    footer {padding: 10vw 0}
    footer span.logo {float: none;margin-top: -10px;display: block;margin-bottom: 20px;}
    
    .main-visual {background-image: url(../img/top_img.png);background-size: cover;min-height: 100vh}
    .main-visual strong {font-size: 2rem;}
    .main-visual p br {display: none}
    .main-info-text strong {font-size: 1.5rem}
    
    .faq .title-area .search {position: static;width: auto;margin-top: 1em;}
    .faq-list dt a {display: block}
    .faq-list .btn {position: static;margin-top: 1em;}
    
    .sub-content {padding: 10vw 0}
    .sub-content h3 {font-size: 1.875rem}
    .sub-content h4 {font-size: 1.687rem}
    .sub-content h5 {font-size: 1.25rem}
    h3+.sub-category {margin-top: 0;float: none;text-align: left;}
    
    .main-info-text {padding: 10vw 0}
    .faq {/* padding: 10vw 0; */margin-top: -10vw;}
    
    .data p a {float: none;}
    .data .img.row {margin-left: -5px;margin-right: -5px;}
    .data .img.row>div {padding: 5px;}
    .qna .btns {position: static;}
}

@media (max-width: 640px) {
    html {font-size: 15px;}
}

/* iPhone 5,SE */
@media all and (max-width: 320px) {
    html {font-size: 12px;}

}



/* 220112추가 */
.faq-list dl {}
.faq-list dt {padding-right: 10rem;}
.faq-list dt.no-list {background: #1f1f24;text-align: center;padding-right: 1rem;padding-top: 3rem;}
.faq-list dt.no-list:after {display: none}
.not-found {text-align: center;}
.not-found h1 {margin-bottom: 1.5em}
ul.list strong {overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2; /* 라인수 */	-webkit-box-orient: vertical; word-wrap:break-word;}
.search input:focus { color:#fff}
@media (max-width: 768px) {
    header nav>ul>li:nth-child(3)>a {display: block}
    header nav>ul>li:nth-child(3) span {color: #fff}
    .faq-list dt {padding-right: 3rem;}
}
